<header class="w-full top-0 sticky z-30 bg-surface border-b border-outline-variant shadow-sm flex justify-between items-center px-margin-mobile md:px-margin-desktop h-16 max-w-full">
  <div class="flex items-center gap-4">
    <h2 class="font-headline-md text-headline-md font-bold text-primary"><%= yield(:page_title) || "Dashboard" %></h2>
  </div>
  <div class="flex items-center gap-6">
    <div class="flex items-center gap-3 pl-6">
      <span class="material-symbols-outlined text-on-surface-variant cursor-pointer hover:bg-surface-container transition-colors p-2 rounded-full">notifications</span>
      <span class="material-symbols-outlined text-on-surface-variant cursor-pointer hover:bg-surface-container transition-colors p-2 rounded-full">settings</span>
      <div class="h-8 w-8 rounded-full bg-primary-container flex items-center justify-center text-[10px] font-bold text-white overflow-hidden border border-outline">
        <span>AD</span>
      </div>
    </div>
  </div>
</header>
